body {
  width: 100vw;
  height: 100vh;
}

#container {
  /* cet élément html aura aussi une classe page*/
  /* il va hérité des valeurs de la hauteur et de la largeur 
    de son parent direct*/
  width: inherit;
  height: inherit;
  display: flex;
}

.page__left-section,
.page__right-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

/*-------------------LEFT SECTION ------------------*/

.page__left-section {
  justify-content: space-between;
  background-image: url('../images/nicole.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page__left-section header {
  padding: 40px 20px;
  display: flex;

}


.page__left-section header h1 {
  display: flex;
  color: var( --font-header);
  text-transform: uppercase;
 
}
.page__left-section header h1 figure {
  width: 2.5rem;
  height: 50%;
  margin-right: 10px;
  
}
.page__left-section header h1 figure img {
  object-fit: contain;
}

.page__left-section section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  background-color: rgba(128, 128, 128, 0.4);
  padding: 20px;
  margin: 30px;
}

.page__left-section section h2 {
  text-align: end;
}

.page__left-section section h2 em {
  font-size: 16px;
  font-weight: 400;
}

.page__left-section section p {
  text-align: right;
  line-height: 1.5;
}


.page__left-section footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.page__left-section footer nav {
  display: flex;
}

.page__left-section ul {
  display: flex;
}

.page__left-section li {
  margin-inline: 10px;
  transition: all 1s ease-in-out;
}

.page__left-section li:hover {
  transform: scale(1.2);
}

.page__left-section li:hover + li {
  transform: translateX(2px);
  padding-inline: 5px;
}

.page__left-section a {
  color: white;


}



/*---------------------RIGHT SECTION -----------------------------*/

.page__right-section header {
  box-shadow: 1px 1px 5px gray;
  padding: 30px;
  background-color: var(--font-header);
  /* position: sticky;
  z-index: 10;
  top: 0; */
}


.right-section__articles-section {
  display: flex;
  /*flex-direction: row*/
  flex-wrap: wrap;
  overflow-y: scroll;


}

.article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 50%;
  border: solid var(--article-border) 0.3px;
  height: 500px;

}

.article h3 {
  margin-block: 20px;
}
.article__tag {
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  /*width: fit-content;*/
  align-self: flex-start;

}

/*Modifier*/
.article__tag--bg-news {
  background-color: var(--news-color);
}

.article__tag--bg-team {
  background-color: var(--team-color);
}

.article__tag--bg-work {
  background-color: var(--work-color);
}

.article__info {
  display: flex;

  align-items: center;
}

.article__info figure {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.article__info :nth-child(2) {
  font-weight: bold;
  margin-left: 0.21rem;
}

/*time
<time datetime="2019-07-21">le 21 juillet 2022</time>
*/
.article__info :nth-child(3) {
  font-size: 12px;
  color: #000;
  margin-left: 0.21rem;
}

.article p,
h3 {
  line-height: 1.5;
}

.article a {
  color: var(--article-link);
  font-size: 1.2rem;
  transition: color 300ms ease-in-out ;
  position: relative;
  width: fit-content;
  
}
.article a:hover {
  color: var(--article-hover-link);
}

.article a::after {
  content: '';
  background-color: var(--article-hover-link);
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 2px;
  position: absolute;
  transition: width 500ms ease-in-out;
}

.article a:hover::after {
  width: 100%;
}
